@import url(https://fonts.googleapis.com/css?family=Italiana:regular);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

/* BASIC STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
}

.row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NAVIGATOR STYLES */
/* ================================================== */
.navigator {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  background: linear-gradient(180deg, #111 0%, #44444400 100%);
}

.navigator > .nav-wrapper {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

.navigator > .nav-wrapper > .nav {
  width: 35%;
}

.navigator > .nav-wrapper > .nav > .nav-btn {
  color: #c1ab81;
  font-family: "Montserrat", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem; /* 156.25% */
  text-decoration: none;
  transition: 0.5s;
}

.navigator > .nav-wrapper > .logo {
  width: 20%;
  height: 5rem;
  color: #c1ab81;
  text-align: center;
  font-family: "Italiana", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.5rem; /* 100% */
  letter-spacing: 0.3125rem;
  cursor: default;
}

.navigator > .nav-wrapper > .register {
  width: 35%;
}

.navigator > .nav-wrapper > .register > .register-btn {
  color: #c1ab81;
  font-family: "Montserrat", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem; /* 156.25% */
  text-decoration: none;
  transition: 0.5s;
}

.navigator > .nav-wrapper > .register > .contact-btn {
  width: 7.5rem;
  height: 2.5rem;
  border: 2px solid #c1ab81;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

/* HERO STYLES */
/* ================================================== */
.hero {
  width: 100%;
  height: 100vh;
  background: url(../images/hero/BG.png), #201c13 50% / cover no-repeat;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 17% repeat(3, 22%) 16%;
}

.hero-title {
  grid-column: 1/2;
  grid-row: 3/4;
  color: #c1ab81;
  font-family: "Italiana", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: "clig" off, "liga" off;
  line-height: 4rem; /* 100% */
  text-align: right;
  text-transform: capitalize;
  cursor: default;
}

.hero-btn {
  grid-column: 1/2;
  grid-row: 4/5;
  width: 7.5rem;
  height: 2.5rem;
  margin-left: 10%;
  padding: 0.75rem 1.25rem;
  border: 2px solid #c1ab81;
  border-radius: 1.5rem;
  color: #c1ab81;
  font-family: "Montserrat", serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 500;
  font-feature-settings: "clig" off, "liga" off;
  line-height: 1rem; /* 100% */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.hero-img {
  grid-column: 2/3;
  grid-row: 2/5;
  margin: 0 auto;
}

.hero-img > img {
  height: 100%;
}

.hero-img-grp {
  grid-column: 3/4;
  grid-row: 3/4;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-img-grp > img {
  height: 100%;
}

.hero-arrow-grp {
  grid-column: 3/4;
  grid-row: 4/5;
  margin: auto auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.hero-arrow-grp > img {
  cursor: pointer;
}

/* ABOUT STYLES */
/* ================================================== */
.about {
  width: 100%;
  height: 100vh;
  background: #efe9dd;
  padding: 6rem 0;
}

.about-wrapper {
  width: 80%;
  margin: 0 auto;
}

.about-main-cntr {
  display: flex;
  justify-content: space-between;
  /* align-items: stretch; */
}

.about-img-side {
  width: 41%;
}

.about-text-side {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.about-small-tiitle {
  color: #222;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5625rem; /* 156.25% */
  text-transform: capitalize;
}

.about-big-title {
  color: #9d875c;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Italiana", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.about-markdown {
  color: #222;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem; /* 156.25% */
}

.about-text {
  color: #222;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem; /* 137.5% */
}

.about-btn {
  width: 7.5rem;
  height: 2.5rem;
  background: #c1ab81;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #c1ab81;
  border-radius: 1.25rem;
  color: #222;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem; /* 156.25% */
  transition: 0.5s;
  cursor: pointer;
}

.about-secondary-cntr {
  width: 62.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2.2rem;
  padding-bottom: 2.2rem;
}

.about-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.about-card-img {
  cursor: pointer;
}

.about-card-text {
  color: #222;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Italiana;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 0.3rem;
}

/* PRODUCT STYLES */
/* ================================================== */
.product {
  width: 100%;
  height: 100vh;
  background: #efe9dd;
  padding: 6rem 0;
}

.product-wrapper {
  width: 80%;
  margin: 0 auto;
}

.product-title {
  color: #9d875c;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Italiana", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.product-text {
  color: #222;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.75rem; /* 75% */
  margin-bottom: 2rem;
}

.product-cards-cntr {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.product-card-img {
  width: 11.25rem;
  height: 11.25rem;
  border: 1px solid #222;
  background: #c1ab81;
}

.product-card-img > img {
  width: 100%;
}

.product-card-title {
  color: var(--222220, #222220);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Italiana", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 1rem;
}

.product-card-price {
  color: #222220;
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  align-self: end;
}

.product-card-stars-ctnr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.product-card-stars-ctnr > img {
  margin-top: 0.12rem;
}

/* ================================================== */
.navigator > .nav-wrapper > .nav > .hover-btn:hover,
.navigator > .nav-wrapper > .register > .hover-btn:hover {
  text-decoration: underline;
  color: #fff;
}

.navigator > .nav-wrapper > .register > .contact-btn:hover,
.product-card-img:hover {
  border: 2px solid #fff;
}

.hero-btn:hover,
.about-btn:hover {
  color: #fff;
  border: 2px solid #fff;
}
