@import url(https://fonts.googleapis.com/css?family=Italiana:regular);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

/* BASIC STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
}

/* NAVIGATOR STYLES */
/* ================================================== */
.navigator {
  display: none;
}

@media (min-width: 601px) {
  .navigator {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    background: linear-gradient(180deg, #111 0%, #55555511 100%);
  }
  .nav-wrapper {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav,
  .nav-register {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-btn,
  .register-btn {
    color: #c1ab81;
    font-family: "Montserrat", serif;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
  }
  .nav-logo {
    width: 25%;
    height: 3rem;
    color: #c1ab81;
    text-align: center;
    font-family: "Italiana", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.5rem;
    letter-spacing: 0.3125rem;
    cursor: default;
  }
  .contact-btn {
    padding: 0.25em 0.5em;
    border: 2px solid #c1ab81;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
}
@media (min-width: 1024px) {
  .navigator {
    height: 5rem;
  }
  .register-btn,
  .nav-btn {
    font-size: 1rem;
  }
  .nav-logo {
    height: 5rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .contact-btn {
    padding: 0.5em 1.6em;
    border-radius: 2em;
  }
}

/* HERO STYLES */
/* ================================================== */
.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../images/hero/hero-bg-mob.png);
  background-color: #222220;
  background-size: cover;
  background-position: center center;
  padding-top: 12%;
}
.hero-wrapper {
  width: 80%;
  height: 88%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.hero-title {
  color: #c1ab81;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Italiana", sans-serif;
  font-size: calc(2.5rem + 2vw);
  font-style: normal;
  font-weight: 400;
  line-height: calc(2.6rem + 2vw);
  text-transform: capitalize;
}
.hero-btn {
  padding: 0.5em 1.6em;
  border: 2px solid #c1ab81;
  border-radius: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c1ab81;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  text-transform: capitalize;
  transition: 0.5s;
}
.hero-img > img {
  width: 100%;
}
.hero-img-grp {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
}
.hero-img-grp > img {
  max-width: 33%;
}
.hero-arrow-grp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

@media (min-width: 601px) {
  .hero {
    padding: 0;
    background-image: url(../images/hero/hero-bg.png);
  }
  .hero-wrapper {
    width: 88.6%;
    max-width: 1240px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 31.3% 14% 23.4% 31.3%;
    grid-template-rows: 20.4% 17.8% 23.7% 8.9% 10.7% 18.5%;
  }
  .hero-title {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-bottom: auto;
    font-size: 2.5rem;
    line-height: 2.5rem;
    z-index: 2;
    cursor: default;
  }
  .hero-btn {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-top: auto;
    margin-right: auto;
    padding: 0.25em 1em;
    cursor: pointer;
  }
  .hero-img {
    grid-column: 2/4;
    grid-row: 2/6;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-img > img {
    margin: auto;
    max-width: 60vh;
    max-height: 60vh;
  }
  .hero-img-grp {
    grid-column: 4/5;
    grid-row: 3/4;
    margin-right: auto;
  }
  .hero-img-grp > img {
    width: 33%;
  }
  .hero-arrow-grp {
    grid-column: 4/5;
    grid-row: 5/6;
    margin: auto auto 0;
  }
}
@media (min-width: 1024px) {
  .hero-title {
    font-size: calc(2.5rem + 2vw);
    line-height: calc(2.9rem + 2vw);
  }
  .hero-btn {
    margin-top: 0;
    margin-right: auto;
  }
  .hero-arrow-grp > img {
    cursor: pointer;
  }
}

/* ABOUT STYLES */
/* ================================================== */
.about {
  width: 100%;
  background-color: #efe9dd;
  background-image: url(../images/about/about-bg-img.png);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  padding: 6rem 0 4rem;
}
.about-main-cntr {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.about-img-side > img {
  max-width: 100%;
  border: 2px solid #9d875c;
  outline: 2px solid #9d875c;
  outline-offset: 5px;
}
.about-text-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.about-small-tiitle {
  color: #222220;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.about-big-title {
  color: #9d875c;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Italiana", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  text-transform: capitalize;
}
.about-markdown {
  color: #222220;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", serif;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.125rem;
}
.about-text {
  color: #222220;
  text-align: justify;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}
.about-btn {
  padding: 0.5em 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c1ab81;
  border: 2px solid #c1ab81;
  border-radius: 1.5rem;
  color: #222220;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  transition: 0.5s;
}
.about-secondary-cntr {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2.2rem;
  padding-bottom: 2.2rem;
}
.about-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.about-card-img > img {
  width: 100%;
}
.about-card-text {
  color: #222220;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Italiana", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 0.3rem;
}

@media (min-width: 601px) {
  .about {
    padding: 4rem 0;
    background-size: 50% 63%;
  }
  .about-main-cntr {
    flex-direction: row;
  }
  .about-img-side {
    width: 45%;
  }
  .about-text-side {
    width: 40%;
    margin: 0;
  }
  .about-small-tiitle {
    font-size: 1rem;
    line-height: 1rem;
  }
  .about-big-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .about-markdown {
    font-size: 0.9rem;
  }
  .about-btn {
    padding: 0.25em 1em;
    cursor: pointer;
  }
  .about-secondary-cntr {
    width: 50%;
    padding-bottom: 1rem;
  }
  .about-card {
    width: 15%;
  }
  .about-card-img > img {
    cursor: pointer;
  }
}
@media (min-width: 1024px) {
  .about {
    padding: 5rem 0 0;
    min-height: 100vh;
  }
  .about-main-cntr {
    margin-bottom: 3rem;
  }
  .about-img-side {
    width: 60%;
  }
  .about-small-tiitle {
    font-size: 1.5rem;
  }
  .about-big-title {
    font-size: 3rem;
    line-height: 3rem;
  }
  .about-markdown {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .about-text {
    font-size: 1.125rem;
    line-height: 1.125rem;
  }
  .about-btn {
    padding: 0.25em 1em;
  }
}

/* PRODUCT STYLES */
/* ================================================== */
.product {
  width: 100%;
  /* height: 100vh; */
  background: #efe9dd;
  padding: 6rem 0;
}

.product-wrapper {
  width: 80%;
  margin: 0 auto;
}

.product-title {
  color: #9d875c;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Italiana", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.product-text {
  color: #222;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.75rem;
  margin-bottom: 2rem;
}

.product-cards-cntr {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.product-card-img {
  width: 11.25rem;
  height: 11.25rem;
  border: 1px solid #222;
  background: #c1ab81;
}

.product-card-img > img {
  width: 100%;
}

.product-card-title {
  color: var(--222220, #222220);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Italiana", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 1rem;
}

.product-card-price {
  color: #222220;
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  align-self: end;
}

.product-card-stars-ctnr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.product-card-stars-ctnr > img {
  margin-top: 0.12rem;
}

/* SERVICE STYLES */
/* ================================================== */
/* .service {
  width: 100%;
  background: linear-gradient(
    90deg,
    #c1ab81 0%,
    #c1ab81 40%,
    #222220 40%,
    #222220 100%
  );
  padding: 6rem 0 1.5rem;
} */

/* .service-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
} */

/* .service-img-side {
  width: 43%;
} */

/* .service-img-side > img {
  width: 100%;
  border: 4px solid #efe9dd;
  outline: 4px solid #efe9dd;
  outline-offset: 4px;
} */

/* .service-text-side {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 2.7rem;
} */

/* .service-small-title {
  color: #efe9dd;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
  text-transform: capitalize;
} */

/* .service-big-title {
  color: #9d875c;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Italiana", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
} */

/* .service-markdown {
  color: #efe9dd;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
} */

/* .service-text {
  color: #efe9dd;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem;
} */

/* .service-btn {
  padding: 0.5rem 2rem;
  border-radius: 3.125rem;
  border: 2px solid #c1b081;
  color: var(--c-1-b-081, #c1ab81);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5625rem;
  transition: 0.5s;
  cursor: pointer;
} */

/* ================================================== */
/* .navigator > .nav-wrapper > .nav > .hover-btn:hover,
.navigator > .nav-wrapper > .register > .hover-btn:hover {
  text-decoration: underline;
  color: #fff;
} */

/* .navigator > .nav-wrapper > .register > .contact-btn:hover,
.product-card-img:hover {
  border: 2px solid #fff;
} */

/* .hero-btn:hover,
.about-btn:hover,
.service-btn:hover {
  color: #fff;
  border: 2px solid #fff;
} */
