@import url(https://fonts.googleapis.com/css?family=Italiana:regular);

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* Basic Styles */
/* ================================================== */

:root {
  --black: #222220;
  --header-bg: #22222099;
  --pavlova: #c1ab81;
  --buttermilk: #f9e59f;
  --white-linen: #efe9dd;
  --cafe-au-lait: #9d875c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Styles */
/* ================================================== */

.header {
  display: none;
}

/* Hero Styles */
/* ================================================== */

.hero {
  width: 100%;
  height: 100vh;
  padding: 10% 0;
  overflow: hidden;
  background-color: var(--black);
  background-image: url(../images/hero/hero-bg-mob.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-wrapper {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.hero-title {
  width: 21.5rem;
  color: var(--pavlova, #c1ab81);
  font-family: "Italiana", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  font-feature-settings: "clig" off, "liga" off;
}

.hero-img-main > img {
  width: 100%;
}

.hero-image-grp {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.hero-image-grp > img {
  width: 30%;
}

.hero-arrow-grp {
  width: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Template Styles */
/* ================================================== */

.about,
.product,
.service-hero,
.service,
.contact {
  width: 100%;
  min-height: 100vh;
  padding: 10% 0;
  background-repeat: no-repeat;
}

.about-wrapper,
.product-wrapper,
.service-hero-wrapper,
.service-wrapper,
.contact-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.about-img-side > img,
.service-hero-img-side > img {
  width: 100%;
  border: 2px solid var(--cafe-au-lait, #9d875c);
  outline: 2px solid var(--cafe-au-lait, #9d875c);
  outline-offset: 5px;
}

.about-text-side,
.product-text-side,
.service-hero-text-side,
.contact-text-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
}

.about-sml-title,
.product-sml-title,
.service-sml-title,
.contact-sml-title {
  font-family: "Montserrat", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  font-feature-settings: "clig" off, "liga" off;
}

.about-big-title,
.product-big-title,
.service-big-title,
.service-text-grp > .service-text,
.contact-big-title {
  color: var(--cafe-au-lait, #9d875c);
  font-family: "Italiana", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  font-feature-settings: "clig" off, "liga" off;
}

.about-markdown,
.service-markdown {
  font-family: "Montserrat", serif;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  font-feature-settings: "clig" off, "liga" off;
}

.about-text,
.product-text,
.service-text,
.contact-text {
  font-family: "Montserrat", serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  font-feature-settings: "clig" off, "liga" off;
}

.hero-btn,
.service-btn {
  width: 7.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--pavlova, #c1ab81);
  border-radius: 1.25rem;
  color: var(--pavlova, #c1ab81);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.about-btn {
  width: 7.5rem;
  height: 2.5rem;
  background-color: var(--pavlova, #c1ab81);
  background-image: url(../images/about/about-btn.png);
  border-radius: 1.25rem;
}

/* About Styles */
/* ================================================== */

.about {
  background-color: var(--white-linen, #efe9dd);
  background-image: url(../images/about/about-bg-img.png);
  background-size: 100% 60%;
}

.about-main-grp {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.about-sml-title {
  color: var(--black, #222220);
}

.about-markdown {
  color: var(--black, #222220);
}

.about-text {
  color: var(--black, #222220);
}

.about-sec-grp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.about-logo-1,
.about-logo-2,
.about-logo-3 {
  width: 5rem;
  height: 5rem;
  background-color: var(--pavlova, #c1ab81);
  border-radius: 50%;
}

.about-logo-1 {
  background-image: url(../images/about/about-logo-1.png);
}

.about-logo-2 {
  background-image: url(../images/about/about-logo-2.png);
}

.about-logo-3 {
  background-image: url(../images/about/about-logo-3.png);
}

.about-logo-text {
  color: var(--black, #222220);
  font-family: "Italiana", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "clig" off, "liga" off;
}

/* Product Styles */
/* ================================================== */

.product {
  background-color: var(--white-linen, #efe9dd);
  background-image: url(../images/product/product-bd-img.png);
  background-size: 100% 60%;
}

.product-text-side {
  align-items: center;
}

.product-sml-title {
  color: var(--black, #222220);
}

.product-text {
  color: var(--black, #222220);
}

.product-card-side {
  display: flex;
  height: 70.5%;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-card {
  width: 47%;
  height: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.product-card-img {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pavlova, #c1ab81);
  background-image: url(../images/product/product-card-bg.png);
  background-size: cover;
  aspect-ratio: 1/1;
}

.product-card-img > img {
  width: 100%;
}

.product-card-name {
  color: var(--black, #222220);
  font-family: "Italiana", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "clig" off, "liga" off;
}

.product-card-price {
  color: var(--black, #222220);
  font-family: "Montserrat", serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "clig" off, "liga" off;
}

.stars {
  width: 100%;
}

/* Service-Hero Styles */
/* ================================================== */

.service-hero {
  padding: 20% 0;
  background-color: var(--black, #222220);
  background-image: url(../images/service-hero/service-hero-bg-img.png);
  background-size: 65% 30%;
  background-position: top right;
}

.service-hero-img-side > img {
  aspect-ratio: 1/1;
}

.service-sml-title {
  color: var(--white-linen, #efe9dd);
}

.service-markdown {
  color: var(--white-linen, #efe9dd);
}

.service-text {
  color: var(--white-linen, #efe9dd);
}

/* Service Styles */
/* ================================================== */

.service {
  background-color: var(--white-linen, #efe9dd);
  background-image: url(../images/service/service-bg-img.png);
  background-size: 100% 80%;
  background-position: top 10%;
}

.service-wrapper {
  gap: 1.5rem;
}

.service-img-grp {
  width: 100%;
  display: flex;
  gap: 10%;
}

.service-img {
  width: 55%;
}

.service-img > img {
  width: 100%;
}

.service-text-grp {
  width: 35%;
  display: flex;
  flex-direction: column;
}

/* Contact Styles */
/* ================================================== */

.contact {
  background-image: linear-gradient(
    180deg,
    #c1ab81 0%,
    #c1ab81 8.57%,
    #efe9dd 8.57%,
    #efe9dd 100%
  );
}

.contact-img-side {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35% 15% 15% 35%;
}

.contact-img-side > .cnt-first {
  grid-column: 1/2;
  grid-row: 1/3;
}

.contact-img-side > .cnt-second {
  grid-column: 1/2;
  grid-row: 3/5;
}

.contact-img-side > .cnt-therd {
  grid-column: 1/2;
  grid-row: 2/4;
  margin: auto auto auto 0;
  z-index: 2;
}

.contact-sml-title {
  color: var(--black, #222220);
}

.contact-text {
  color: var(--black, #222220);
}

/* Mobile Horizontal Styles */
/* ================================================== */

/* Header Styles */
@media (min-width: 600px) {
  .header {
    display: block;
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: var(--header-bg, #22222099);
    flex-shrink: 0;
  }
  .header-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .nav-btns,
  .register-btns {
    width: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo {
    width: 20%;
    color: var(--buttermilk, #f9e59f);
    font-family: "Italiana", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    text-transform: capitalize;
    font-feature-settings: "clig" off, "liga" off;
  }
  .nav-btn {
    color: var(--buttermilk, #f9e59f);
    font-family: "Montserrat", serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    text-transform: capitalize;
    font-feature-settings: "clig" off, "liga" off;
  }
  .border {
    width: 6rem;
    height: 2rem;
    border-radius: 1.25rem;
    border: 2px solid var(--buttermilk, #f9e59f);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Hero Styles */
@media (min-width: 600px) {
  .hero {
    padding: 0;
    background-image: url(../images/hero/hero-bg.png);
  }
  .hero-wrapper {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 29.5% 5.6% 29.8% 5.6% 29.5%;
    grid-template-rows: repeat(4, 25%);
  }
  .hero-title {
    grid-column: 1/3;
    grid-row: 2/3;
    z-index: 2;
  }
  .hero-btn {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: auto;
  }
  .hero-img-main {
    grid-column: 2/5;
    grid-row: 1/5;
    margin: auto;
  }
  .hero-image-grp {
    grid-column: 4/6;
    grid-row: 2/3;
  }
  .hero-arrow-grp {
    grid-column: 4/6;
    grid-row: 3/4;
    margin: auto auto 0;
  }
}

/* About Styles */
@media (min-width: 600px) {
  .about {
    padding: 7% 0;
    background-size: 50% 100%;
  }
  .about-wrapper {
    gap: 1rem;
  }
  .about-main-grp {
    flex-direction: row;
    align-items: start;
  }
  .about-img-side {
    width: 45%;
  }
  .about-text-side {
    width: 45%;
    gap: 0.5rem;
  }
  .about-logo {
    flex-direction: row;
  }
}

/* Product Styles */
@media (min-width: 600px) {
  .product {
    padding: 7% 0;
    background-position: right;
    background-size: 50% 100%;
  }
  .product-wrapper {
    gap: 1rem;
  }
  .product-text-side {
    height: 12%;
    gap: 0;
  }
  .product-card {
    width: 21%;
    gap: 0;
  }
}

/* Service Hero Styles */
@media (min-width: 600px) {
  .service-hero {
    background-size: 22% 40%;
    padding: 10% 0;
  }
  .service-hero-wrapper {
    flex-direction: row;
  }
  .service-hero-img-side {
    width: 45%;
  }
  .service-hero-img-side > img {
    width: 80%;
  }
  .service-hero-text-side {
    width: 45%;
    gap: 0.5rem;
  }
}

/* Service Hero Styles */
@media (min-width: 600px) {
  .service {
    background-size: 50% 100%;
    background-position: right 50%;
  }
  .service-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    row-gap: 0.5rem;
  }
  .service-img-grp {
    width: 48%;
    height: 40vh;
  }
  .service-img {
    width: 45%;
  }
  .service-text-grp {
    width: 45%;
  }
}

/* Contact Styles */
@media (min-width: 600px) {
  .contact {
    background-image: linear-gradient(
      180deg,
      #c1ab81 0%,
      #c1ab81 20%,
      #efe9dd 20%,
      #efe9dd 100%
    );
    padding: 7% 0;
  }
  .contact-wrapper {
    flex-direction: row;
  }
  .contact-img-side {
    max-height: 80vh;
  }
  .contact-img-side > img {
    width: auto;
    height: 100%;
  }
}
